$menu-color: #9197b3;
$main-desktop-font-size: 14px;
$main-mobile-font-size: 10px;
$main-tablet-font-size: 12px;
$desktop-break-point: 1200px;
$tablet-break-point: 768px;
$large-tablet-break-point: 992px;
$mobile-break-point: 576px;
