@import '../abstracts/variables';

.customers {
  width: 100%;
  max-width: 968px;
  height: 100%;
  max-height: 812px;
  margin-top: 128px;
  margin-left: 71px;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  background-color: #ffffff;
  border-radius: 24px; // під питанням
  padding: 30px 40px 40px 38px;

  .customers__header {
    padding: 0 13px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h2 {
      font-size: 22px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.22px;
      margin-bottom: 7px;
    }

    span {
      color: #16c098;
      font-size: $main-desktop-font-size;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.14px;
    }

    input {
      border-radius: 10px;
      width: 216px;
      height: 38px;
      flex-shrink: 0;
      padding: 10px 40px;
      font-family: 'Poppins';
      font-size: $main-desktop-font-size;
      background: url('../../../public/assets/currentSvg/search.svg') no-repeat center left 8px
        #f9fbff;
      background-size: 24px;
      border: none;

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: #b5b7c0;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.12px;
      }
    }
  }
}

.customers__list-wrapper {
  tr {
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }

  th {
    text-align: start;
    padding-bottom: 14px;
    color: #b5b7c0;
    font-size: $main-desktop-font-size;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    &:last-child {
      text-align: center;
    }
  }

  td {
    color: #292d32;
    font-size: $main-desktop-font-size;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
    padding: 24px 0;
  }

  .customers__customers-table-header--border {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 968px;
      border-bottom: 1px solid #eeeeee;
      bottom: -1px;
      left: -38px;
    }
  }
}

.customers__customers-count {
  color: #b5b7c0;
  font-size: $main-desktop-font-size;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  margin-bottom: 1px;
}
