@import '../abstracts/mixins';
@import '../abstracts/variables';

.menu {
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  height: max-content;
  padding: 37px 28px 20px 28px;
  width: 100%;
  border-radius: 20px;

  @media (min-width: $desktop-break-point) {
    align-self: flex-start;
    flex: 1 1 306px;
    background: #fff;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    height: 1198px;
    padding: 37px 28px 0 28px;
    border-radius: 0;
  }
}

.menu__title-logo-wrapper {
  width: 100%;
  @include flexcenter;
  margin-bottom: 64px;

  .menu__logo {
    background-image: url('../../../public/assets/currentSvg/dashboard.svg');
    width: 37px;
    height: 37px;
    margin-right: 8px;
  }

  .menu__title {
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;

    &::after {
      content: 'v.01';
      color: #838383;
      font-size: 10px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.1px;
      margin-left: 4px;
    }
  }
}

.menu__nav {
  @include flexcenter(center, flex-start);
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 20px;

  @media (min-width: $tablet-break-point) {
  }

  @media (min-width: $desktop-break-point) {
    @include flexcenter(center, flex-start, column);
    gap: 40px;
  }
}

.menu__nav-link {
  color: $menu-color;
  font-size: $main-desktop-font-size;
  list-style: none;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: normal;
  display: flex;
  align-items: center;
  height: 46px;
  flex: 0 1 45%;
  position: relative;
  border-radius: 8px;
  padding-left: 11px;
  user-select: none;

  @media (min-width: $tablet-break-point) {
    flex: 1 1 19%;
    justify-content: center;
    padding-left: 0;
    padding-right: 18px;

    &:last-child {
      flex: 0 1 27%;
    }
  }

  @media (min-width: $desktop-break-point) {
    justify-content: flex-start;
    flex: none;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding-left: 11px;
    padding-right: 0;
    cursor: pointer;

    &:last-child {
      flex: none;
    }
  }

  &:first-child {
    cursor: default;
    width: 100%;
    flex: 1 1 100%;
    justify-content: center;

    @media (min-width: $desktop-break-point) {
      justify-content: flex-start;
      flex: none;
    }
  }

  img {
    margin-right: 14px;
  }
}

.menu__nav-link--arrow {
  &::after {
    content: url('../../../public/assets/currentSvg/chevron-right.svg');
    position: absolute;
    right: 8px;
    top: 15px;
    display: block;
    width: 16px;
    height: 16px;

    @media (max-width: 440px) {
      content: '';
    }

    @media (min-width: $tablet-break-point) {
      content: '';
    }

    @media (min-width: $desktop-break-point) {
      content: url('../../../public/assets/currentSvg/chevron-right.svg');
    }
  }
}

.menu__nav-link--arrow-active {
  &::after {
    @media (max-width: 440px) {
      content: '';
    }
    content: url('../../../public/assets/activeSvg/chevron-right.svg');
    position: absolute;
    right: 8px;
    top: 15px;
    display: block;
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-break-point) {
      content: '';
    }

    @media (min-width: $desktop-break-point) {
      content: url('../../../public/assets/activeSvg/chevron-right.svg');
    }
  }
}

.menu__nav-link--active {
  background-color: #5932ea;
  color: #fff;
}
