@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import '../abstracts/mixins';
@import '../abstracts/variables';

* {
  font-family: 'Poppins';
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

.main-page {
  @include flexcenter(center, center, column);
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fafbff;
  padding: 20px;

  @media (min-width: $desktop-break-point) {
    @include flexcenter;
    width: 100%;
    padding: 0;
  }
}
