@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import '../abstracts/mixins';
@import '../abstracts/variables';

* {
  font-family: 'Poppins';
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

.main-page {
  @include flexcenter(center, center, column);
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fafbff;
  padding: 20px;

  @media (min-width: $desktop-break-point) {
    @include flexcenter;
    width: 100%;
  }
}

// .container {
//   width: 100%;
//   padding-left: 10px;
//   padding-right: 10px;

//   @media (min-width: $dp-desctop) {
//     max-width: 1220px;
//   }
// }

// .btn {
//   background: $main-color;
//   color: $secondary-color;
//   border-radius: 40px;
//   font-weight: 700;
//   transition: 0.4s;
//   outline: 1px solid $main-color;
//   outline-offset: -1px;

//   @media (min-width: $dp-desctop) {
//     &:hover {
//       background: $secondary-color;
//       color: $main-color;
//     }
//   }
// }

// .hidden {
//   display: none;
// }
